# Build artifacts
libtool
Makefile
config.status
config.guess
config.sub
configure.scan
configure
depcomp
install-sh
missing
ltmain.sh
NEWS
README
AUTHORS
ChangeLog

# Object files
*.o

# automake
*.cache

# Libraries
*.libs
*.a
*.deps

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lo
*.la

# Executables
*.exe
*.out
*.app

# Rubbish
*.log
*.m4

